<div class="about-section" id="aboutId">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/images/aboutme.png" alt="aliyyulmanj" class="header-master">
            </div>
            <div class="col">
                <div class="headmaster-speach">
                    <div class="quote-container left-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote" />
                    </div>
                    <div class="speach-container">
                        <p class="speach-content">
                            "Saya Aliyyulman Jihan selaku CEO Dukuh Academy, dengan adanya Tempat belajar online FREE ini diharapkan anak muda dan mudi di indonesia melek dengan teknologi dan informasi mengikutin tren yang ada pada saat ini"
                        </p>
                    </div>
                    <div class="quote-container right-quote">
                        <img src="assets/images/quote.png" alt="quote" class="quote" />
                    </div>
                    <div class="footer">
                        <p class="name"> Aliyyulman Jihan </p>
                        <p class="role"> CEO </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>