<div class="banner-section" id="bannerId">
    <swiper-container class="banner-swiper" autoplay-delay="2500" autoplay-disable-on-interaction="false" effect="fade">
        <swiper-slide>
            <!-- <img src="..." alt="banner image" class="banner-image" /> -->
        </swiper-slide>
        <swiper-slide>
            <!-- <img src="..." alt="banner image" class="banner-image" /> -->
        </swiper-slide>
        <swiper-slide>
            <!-- <img src="..." alt="banner image" class="banner-image" /> -->
        </swiper-slide>
    </swiper-container>
    <div class="banner-overlay">
        <div class="banner-layer"></div>
        <div class="banner-description">
            <h1>Your School Name</h1>
            <h2>Lorem ipsum Lorem ipsum Lorem ipsum</h2>
            <button mat-flat-button class="btn-pendaftaran"> Registrasi Akun Member</button>
        </div>
    </div>
</div>