<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="map-container">
                    <!-- MAP Section -->
                     <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5678.41996433004!2d107.6307645!3d-6.8943341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e7afac1c1d9f%3A0x8971fb94aa63143f!2sJl.%20Rereng%20Adumanis%20No.51%2C%20Sukaluyu%2C%20Kec.%20Cibeunying%20Kaler%2C%20Kota%20Bandung%2C%20Jawa%20Barat%2040123!5e1!3m2!1sid!2sid!4v1763460099695!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col">
                <div class="social-media">
                    <h2>Academy Name</h2>
                    <address>
                        Your Address
                    </address>
                    <div class="list-social-media">
                        <button class="social-media-btn">
                            <i class="fa-brands fa-square-facebook"></i>
                        </button>
                        <button class="social-media-btn">
                            <i class="fa-brands fa-square-facebook"></i>
                        </button>
                        <button class="social-media-btn">
                            <i class="fa-brands fa-square-facebook"></i>
                        </button>
                        <button class="social-media-btn">
                            <i class="fa-brands fa-square-facebook"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
